#!/usr/bin/make -f

ifeq (,$(TARGET))
  $(error Empty TARGET variable)
endif

GNUTARGET := $(shell env -i dpkg-architecture -a$(TARGET) -qDEB_HOST_GNU_TYPE 2>/dev/null)
GCCVERSION := 4.3

clean:
	dh_testdir
	dh_prep

	sed -e "s/$(GNUTARGET)/__GNUTARGET__/g" \
		-e "s/$(TARGET)/__TARGET__/g" \
	    -e "s/$(GCCVERSION)/__GCCVERSION__/g" \
		-i debian/control

	dh_clean

build: build-stamp
build-stamp:
	dh_testdir
	sed -e "s/__GNUTARGET__/$(GNUTARGET)/g" \
		-e "s/__TARGET__/$(TARGET)/g" \
		-e "s/__GCCVERSION__/$(GCCVERSION)/g" \
		-i debian/control

	touch $@

install: build
	dh_testdir
	dh_testroot
	dh_prep

binary-arch: install

binary-indep: install
	dh_testdir
	dh_testroot

	dh_installchangelogs
	dh_installdeb
	dh_gencontrol
	dh_builddeb

binary: binary-arch binary-indep

.PHONY: clean build install binary-arch binary
