#!/usr/bin/make -f

clean:
	dh_testdir
	dh_prep
	rm -f *-stamp

build:

install: build
	dh_testdir
	dh_testroot

	dh_clean -k
	dh_installdirs

	install -m755 mktpkg $(CURDIR)/debian/toolchain-package/usr/bin/mktpkg

binary-arch: install

binary-indep: install
	dh_testdir
	dh_testroot

	dh_installchangelogs
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-arch binary-indep

.PHONY: clean build install binary-arch binary
